[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# タイムゾーンの設定
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# エラーログの設定(must check)
# log-error = /var/log/mysql/error.log

# スロークエリログの設定
slow_query_log = ON
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 3.0

# スレッドキャッシュ保持最大数
thread_cache_size=128

# 同時接続数
max_connections=150

# check before release
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_log_files_in_group = 2
innodb_data_file_path = ibdata1:300M:autoextend
innodb_file_per_table = ON

[client]
default-character-set=utf8mb4
